body{margin-bottom:1em;background-color:#f8f7f3;margin:0;border:0;color:#000}
.center{text-align:center;margin-right:auto;margin-left:auto}
.clear{clear:both}
br.clear,.nettoyeur{clear:both;margin:0;padding:0;border:0;height:0;line-height:1px;font-size:1px}
hr.clear{visibility:hidden}
.clearfix:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden}
.clearfix{display:inline-table}
.clearfix{height:1%}
.clearfix{display:block}
.none,.js .none-js,.no-js .none-nojs{display:none}
.hidden,.js .hidden-js,.no-js .hidden-nojs{visibility:hidden}
.invisible,.over,.js .over-js,.no-js .over-nojs{position:absolute;left:-3000em;height:1%}
.js .invisible_au_chargement{visibility:hidden}
.js .visible_au_chargement{visibility:hidden}
.js .display_au_chargement{display:none}
.no-js .invisible_au_chargement{visibility:hidden}
.no-js .visible_au_chargement{visibility:visible}
.no-js .display_au_chargement{display:block}
div.ajaxbloc,div.ajax{position:relative}
.image_loading{float:right}
div.ajaxbloc>.image_loading,div.ajax>.image_loading,.formulaire_spip>.image_loading{position:absolute;right:0;float:none}
.bugajaxie{display:none}
.todo{opacity:0.5}
.todo:hover{opacity:1}
.blink{text-decoration:blink}
table{border-collapse:collapse}
td{padding:0}
td{text-align:left}
.clicable{cursor:hand;cursor:pointer}