/doc/*
/web/tmp/*
/web/local/*
**/sources/*
*.log
*.log
oidc/debug.txt
oidc/error_log
oidc/error_log
oidc/error_log
oidc/identification/gangsta/error_log
oidc/identification/ghostkeys/error_log
oidc/includes/secret.txt
oidc/error_log
composer.lock
composer.lock
cron/error_log
error_log
oauth/error_log
**/uncrypted/
cron/error_log
cron/error_log
cron/error_log
