<plugin>
	<nom>Readable</nom>
	<version>2.2.3</version>
	<etat>stable</etat>
	<auteur>Cedric</auteur>
	<licence>GPL</licence>
	<prefix>theme_bsreadable</prefix>
	<description>Optimized for legibility</description>
	<icon>vignette.png</icon>
	<utilise id="spipr" version="[0.1.0-dev;]" />
	<categorie>theme</categorie>
</plugin>
