/*
#@squelettes/themes/flatly_dnc/css/variables.less
#@plugins/auto/bootstrap/v2.1.8/bootstrap/css/mixins.less
*/
/* Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @blueDark;


// Links
// -------------------------
@linkColor:             #1ABC9C;
@linkColorHover:        lighten(@linkColor, 5%);
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #ecf8ef;
  width: auto;
}
.page {
  background-color: #ffffff;
}
.navbar-fixed-top {
  margin-bottom: 0;
}
#header {
  position: relative;
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #1abcb7;
  background-image: -moz-linear-gradient(left, #0e6235, #1abcb7);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#0e6235), to(#1abcb7));
  background-image: -webkit-linear-gradient(left, #0e6235, #1abcb7);
  background-image: -o-linear-gradient(left, #0e6235, #1abcb7);
  background-image: linear-gradient(to right, #0e6235, #1abcb7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0e6235', endColorstr='#ff1abcb7', GradientType=1);
  color: #ffffff;
}
#header .container {
  position: relative;
  z-index: 100;
}
#header .container .actions {
  position: absolute;
  bottom: -60px;
  right: -30px;
}
#header:after {
  background: url(//www.oa.dnc.global/web/plugins/auto/spipr_doc/v0.5.13/css/img/bs-docs-masthead-pattern.png) repeat;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#content,
#aside {
  margin-top: 20px;
}
#content {
  min-height: 600px;
}
#footer {
  border-top: 1px solid #c7ead0;
  background-color: #ecf8ef;
}
#footer .credits {
  margin-bottom: 0;
}
.page .doc-sidebar {
  margin-left: 0;
}
.doc-sidebar.affix {
  top: 60px;
}
.doc-sidenav {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
.doc-sidenav > li > a {
  border: 1px solid #ecf8ef;
  margin-top: -1px;
  padding: 8px 14px;
}
.doc-sidenav li:first-child a {
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
}
.doc-sidenav li:last-child a {
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
}
/* contenu */
.article {
  margin-bottom: 40px;
  position: relative;
}
.article.prop {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.article > .article-header {
  color: #95a5a6;
  border-bottom: 1px solid #ecf8ef;
  margin-bottom: 20px;
}
.article .actions-moderer {
  position: absolute;
  top: 0;
  right: -30px;
}
.placeholder {
  font-size: 30px;
  float: right;
  clear: right;
  margin-right: -30px;
}
.formulaire_crayon .crayon-active {
  min-width: 10em !important;
}
@media (max-width: 767px) {
  #header .container .actions {
    right: -20px;
  }
  .article .actions-moderer {
    right: -20px;
  }
  .placeholder {
    margin-right: -20px;
  }
}
/* home */
.page_sommaire #header {
  padding: 120px 0;
}
.page_sommaire #header .container {
  text-align: center;
}
.page_sommaire #content {
  text-align: center;
}
/* impression : on supprime ce qui ne sert par sur du papier */
@media print {
  #nav,
  #aside,
  #footer,
  .download {
    display: none;
  }
  #content {
    width: 100%;
  }
}
body .spip-admin-float {
  top: 1.5em;
  margin-top: 16px;
}
.spip-admin-float .spip-admin-boutons {
  display: inline-block;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22plugins%5C%2Fauto%5C%2Fbootstrap%5C%2Fv2.1.8%5C%2Fbootstrap%5C%2Fcss%5C%2Fmixins.less%22%2C%22spipr_doc.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22%3B%3B%3B%3B%3B%3B%3B%3B%3B%3B%3BAAWA%3BEACE%2CQAAA%3B%3BAACA%2CSAAC%3BAACD%2CSAAC%3BEACC%3BEACA%2CSAAS%2CEAAT%3BEAGA%3B%3BAAEF%2CSAAC%3BEACC%3B%3BAAmFJ%3BEACE%2CWAAA%3BEACA%3BEACA%3BEACA%3BEACA%3B%3BAA2CF%3BEACE%3BEACA%3BEACA%2CgBAAA%3BEA2LA%2C8BAAA%3BEACG%2C2BAAA%3BEACK%2CsBAAA%3B%3BACtVV%3BEAAM%2CyBAAA%3BEAA%2BB%3B%3BAACrC%3BEAAO%2CyBAAA%3B%3BAAEP%3BEAAmB%3B%3BAACnB%3BEACE%3BEACA%3BEACA%2CiBAAA%3BEACA%2CoBAAA%3BEDuZE%2CyBAAA%3BEACA%2CkBAAkB%2C4CAAlB%3BEACA%2CkBAAkB%2CsCAAsC%2CeAAmB%2CYAA3E%3BEACA%2CkBAAkB%2C%2BCAAlB%3BEACA%2CkBAAkB%2C0CAAlB%3BEACA%2CkBAAkB%2C2CAAlB%3BEACA%3BEACA%2CsHAAA%3BEC5ZF%2CcAAA%3B%3BAANF%2COAQE%3BEACE%3BEACA%3B%3BAAVJ%2COAQE%2CWAIE%3BEACE%3BEACA%3BEACA%3B%3BAAIN%2COAAO%3BEACL%2CmHAAA%3BEACA%3BEACA%2CSAAS%2CEAAT%3BEACA%3BEACA%3BEACA%3BEACA%3BEACA%3BEDgWA%2CYAAA%3BEACA%2CyBAAA%3B%3BAC7VF%3BAAAS%3BEAAQ%2CgBAAA%3B%3BAACjB%3BEAAU%2CiBAAA%3B%3BAAEV%3BEACE%2C6BAAA%3BEACA%2CyBAAA%3B%3BAAFF%2COAGE%3BEAAU%3B%3BAAGZ%2CKAAM%3BEAAc%3B%3BAACpB%2CYAAY%3BEAAQ%3B%3BAACpB%3BED2ME%2CkDAAA%3BEACG%2C%2BCAAA%3BEACK%2C0CAAA%3B%3BAC3MR%2CYAAE%2CKAAG%3BEAAG%2CyBAAA%3BEAA8B%3BEAAiB%2CiBAAA%3B%3BAAFzD%2CYAGE%2CGAAE%2CYAAa%3BEDqKf%2CqCAAA%3BEACI%2CiCAAA%3BEACI%2C6BAAA%3BEAPR%2CoCAAA%3BEACI%2CgCAAA%3BEACI%2C4BAAA%3B%3BACrKV%2CYAIE%2CGAAE%2CWAAY%3BEDyKd%2CwCAAA%3BEACI%2CoCAAA%3BEACI%2CgCAAA%3BEAGR%2CuCAAA%3BEACI%2CmCAAA%3BEACI%2C%2BBAAA%3B%3B%3BAC3KV%3BEAOE%2CmBAAA%3BEAEA%3B%3BAARA%2CQAAC%3BEDuUD%2CYAAA%3BEACA%2CyBAAA%3B%3BACvUA%2CQAAE%3BEACA%2CcAAA%3BEACA%2CgCAAA%3BEACA%2CmBAAA%3B%3BAALJ%2CQAUE%3BEAAkB%3BEAAmB%3BEAAM%3B%3BAAG7C%3BEAAc%2CeAAA%3BEAA2B%3BEAAY%3BEAAY%3B%3BAACjE%2CkBAAmB%3BEAAgB%3B%3BAAQnC%2CQAN0B%3BEACxB%2COAAQ%2CWAAW%3BIAAU%3B%3BEAC7B%2CQAAS%3BIAAkB%3B%3BEAC3B%3BIAAc%3B%3B%3B%3BAAIhB%2CcAAe%3BEAAS%2CgBAAA%3B%3BAACxB%2CcAAe%2CQAAQ%3BEAAY%3B%3BAACnC%2CcAAe%3BEAAU%3B%3B%3BAAQzB%3BEAJA%3BEAAK%3BEAAO%3BEAAQ%3BIAAU%3B%3BEAC9B%3BIAAS%3B%3B%3BAAGT%2CIAAK%3BEAAmB%3BEAAU%3B%3BAAClC%2CiBAAkB%3BEAAqB%22%7D */